header{
    background-color: #777777;
    background: #1f1f1f;
    background-image:radial-gradient(#575757, #373737);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    max-width: none;
    max-height: none;
    padding: 10vw 2em;
    margin: 0 auto;
    text-align: center;
    display: block;
}

header1{
    background-color: black;
    background-image: url("mono.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    line-height: 1.2;
    max-width: 75em;
    height: 50em;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    display: block;
}

header0{
    background-color: #777777;
    background-image: url("gears2.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    max-width: none;
    max-height: none;
    padding: 10vw 2em;
    margin: 0 auto;
    text-align: center;
    display: block;
}

header img{
    opacity: 1;
    width: 600px;
    height: 200px;
    display: block;
    margin: auto;
}

header img1{
    opacity: 0.75;
    width: 600px;
    height: 200px;
    display: block;
    margin: auto;
    padding-top: 25%;
    vertical-align: middle;
}

header img0{
    opacity: 0.75;
    width: 600px;
    height: 200px;
    display: block;
    margin: auto;
}

header h1{
    color: #ffd800;
    font-size: 24px;
    margin: 2em;
}

nav{
    text-color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    background-color: black;
    height: 50px;
    line-height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;    
}

nav a{
    display: inline-block;
    color: white;
}

nav ul{
    margin: inherit;
    padding: inherit;
}

nav li{
    display:inline-block;
    width: 10em;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: normal;
}

body{
    background-color: black;
    background-position: center;
    background-attachment: fixed;
    background-size: 50%;
    display: block;
    margin: 0;
    padding: 0;
    background: #1f1f1f;
    background-repeat: no-repeat;
}

main{
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    padding: 4em 1em;
    font-family: lucida, sans-serif;
    color: #a0a0a0;
}

main a{
    color: #4cff00;
}

h2{       
    line-height: 0.5;
    font-family: courier;
    color: #ffd800;
    margin-top: 1em;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 0;
}

h3{
    font-size: 1em;
    color: #d0d0d0;
}

@font-face{
    font-family: 'lucida';
    src: url('./Lucida Sans Regular.ttf');
}