header{
    background: url("./img/mh14.png"), black/*#262626*/;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 1.2;
    width: 100vw;
    min-width: 400px;
    min-height: 300px;
    height: 50vh;
    max-height: 60vw;
    padding: 0;
    margin: 0;
    display: block;
}

div.nav{
    /*display: flex;*/
    
    position: relative;
    background: black;
    margin: 0 auto;
    padding: 3vh 3em;
    width: 75vw;
    max-width: /*60em*/80em;
    
    text-align: center;
    text-color: white;    
}

.nav-parent{
    display: flex;
    flex-direction: row;
    /*height: inherit;*/
    align-items: stretch;
}

a.nav-child{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    
    padding: 20px 0;
    font-size: 25px;
    font-size: 1.5vw;
}

div.nav-link{
    font-family: lucida, sans-serif;
    /*font-size: 125%;*/
    /*color: white;*/
    color: white;
}

@media (max-width: 750px/*1750px*/) {
    .nav-parent{
        flex-direction: column;
        /*align-items: space-between;*/
        /*height: none;*/
        /*align-items: flex-start;*/
        align-items: stretch;
        justify-content: center;
    }
    a.nav-child{
        font-size: 4.5vw;
        padding: 16px 0;
    }
    
    main{
        visibility: hidden;
        display: none;
    }
}

h1{
    color: white;
    text-align: center;
    font-family: lucida, sans-serif;
    font-weight: normal;
}

body{
    background: black;
    background-position: center;
    background-attachment: fixed;
    background-size: 50%;
    display: block;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

main{
    margin: 0 auto;
    width: 75vw;
    max-widtH: /*60em*/80em;
    line-height: 1.5;
    padding: 3vh 3em;
    font-family: lucida, sans-serif;
    color: #a0a0a0;
}

main a{
    color: #0094FF/*#4cff00*/;
}

main h2{
    padding: 0;
    margin: 0
}

h2{       
    line-height: 0.5;
    font-family: courier;
    color: white;
    margin-top: 1em;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 0;
}

h3{
    font-size: 1em;
    color: #d0d0d0;
}

@font-face{
    font-family: 'lucida';
    src: url('./fnt/Lucida Sans Regular.ttf');
}